.error{
    color: red;
}
.bug{
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-right: 200px;
    margin-left: 200px;
    background-color: lightblue;
box-shadow:10px 20px 5px grey; 
background:radial-gradient(#d16ba5,#86a8e7,#5ffbf1);
}
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }